@font-face {
  font-family: 'Barlow';
  src: url(./images/Barlow-MediumItalic.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Arial', 'sans-serif';
  font-size: small;
}

html, #root {
  background-image: url(./images/3.png), url(./images/fundo-azul.png);
  background-size: auto;
  min-height: 100vh;
}

img {
  width: 300px;
}

header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  height: 460px;
  padding: 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: transparent;
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

@media screen and (min-width: 500px) {
  * {
    font-size: large;
  }

  img {
    width: 400px;
  }

  header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  footer {
    bottom: 10px;
  }
}